

body
{

	font-family: 'Montserrat', sans-serif;
}


.main .carousel-inner img
{
	max-height: 90vh;
	object-fit: cover;
	
}

.main .carousel-indicators li

{
	background-color: #008239;
	width: 13px;
	height: 13px;
	border: solid 1px white;
	border-radius: 10px;
	
	
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.main .carousel-inner img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.clients
{
	background: url(../images/fondo2.webp);
}

.marcoFoto {
    overflow: hidden; /*esta propiedad evita que la imagen ocupe mas espacio que su contenedor*/
   
    border: 5px solid #FFF;
    box-sizing:border-box;
    float:left;
}
 
.marcoFoto img {
    transition: all .8s ease;
    width:100%;
}
 
.marcoFoto img:hover {
    transform:scale(1.5) rotate(3deg); /*cuando nos posicionamos sobre la imagen con esta propiedad aumentamos su escala y ademas la giramos*/
    opacity:0.6;
}


.news
{
	background: url(../images/news/letter.png);
}



.payment
{
	background: #00833a;
}


.reserved
{
	background: black;
}




 .textsli1
{

	
	padding-bottom: 30%;

}

.textsli1 .title-sup

{

	font-size: 40px; 
	color: green; 
	text-shadow: .5px .5px .5px #000;


}

.textsli1 .title-inf

{

font-size: 35px; 
color: black;

}

.page-section {
 
}
.move{
  background-color:#000
}
.page-section.bg-dark * {
  color: #fff;
}
.transparent{
  background-color:green;
}
.nav_transparent{background-color:#ffffffc2;}
.nav_white{background-color:grey;}
.nav_blue{background-color:black;}

/**********Estilos del mapa ********/


.navbar.navbar-light.navbar-expand-lg.bg-white.page-navbar {
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  font-weight:bold;
}

.nav-item.item {
  padding-right:2rem;
}

.navbar-nav:last-child .item:last-child, .navbar-nav:last-child .item:last-child a {
  padding-right:0;
}

.map-example .heading .icon {
  color:#ffb526;
}

.map-example {
  margin-top:20px;
  padding-bottom:20px;
}

.map-example .heading {
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:30px;
}

.map-example .info {
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding-bottom:20px;
  color:#636363;
}

.map-example .gallery h4 {
  margin-bottom:30px;
}

.map-example .gallery .image {
  margin-bottom:15px;
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.15);
}

.map-example #map {
  height: 300px;
  margin-bottom: 20px;
}

.page-footer {
  padding-top:32px;
  border-top:1px solid #ddd;
  text-align:center;
  padding-bottom:20px;
}

.page-footer a {
  margin:0px 10px;
  display:inline-block;
  color:#282b2d;
  font-size:18px;
}

.page-footer .links {
  display:inline-block;
}

@media(min-width: 992px){
  .map-example #map{
    height: 500px;
  }
}

/********Estilos map end************/




/***************Aplicación de Media querys****************/

@media screen and (max-width: 2560px)
{

.textsli1

 {
	 text-align: left;
	 padding-bottom: 15%;
	 	
}

.wh
	{
	position: fixed;
	top: 360px;
	z-index: 1000;
	left: 1200px;
	}


	
}

@media screen and (max-width: 1920px)
{


	.carousel-indicators li
	{
		
		margin-top: -80px;
		
	}

	.wh
	{
	position: fixed;
	top: 360px;
	z-index: 1600;
	left: 1800px;
	}



		
	 .textsli1
	{

		
		padding-bottom: 18%;
		text-align: left;

	}
		

}


@media screen and (max-width: 1600px)
{

	.carousel-indicators li
	{
		
		margin-top: -80px;
		
	}

	.wh
	{
	position: fixed;
	top: 360px;
	z-index: 1000;
	left: 1300px;
	}

	

	

	.textsli1
	 {
	 	text-align: left;
	 	padding-bottom: 5%;
	 	
	 }
			

}

@media screen and (max-width: 1440px)
{

	.carousel-indicators li
	{
			
		margin-top: -80px;
		
	}

	.wh
	{
	position: fixed;
	top: 360px;
	z-index: 1000;
	left: 1350px;
	}

	
	.textsli1
	 {
	 	text-align: left;
	 	padding-bottom: 5%;
	 	
	 }			

}

@media screen and (max-width: 1280px)
{

	

	.carousel-indicators li
	{
			
		margin-top: -80px;
		
	}

	.wh
	{
	position: fixed;
	top: 360px;
	z-index: 1000;
	left: 1200px;
	}

	

	.textsli1
	 {
	 	text-align: left;
	 	padding-bottom: 10%;
	 }			

}

@media screen and (max-width: 1024px)
{

	.carousel-indicators li
	{
		background-color: #ffc107;		
		margin-top: -80px;
		
	}

	.wh
	{
	position: fixed;
	top: 360px;
	z-index: 1000;
	left: 930px;
	}
	

	 .textsli1
	 {
	 	padding-bottom: 0;
	 }

}


@media screen and (max-width: 768px) 
{

	

	.carousel-indicators li
	{
		background-color: #ffc107;		
		margin-top: -80px;
		
	}

	.wh
	{
	position: fixed;
	top: 300px;
	z-index: 1000;
	left: 700px;
	}




	.textsli1 .flayer1
	{
		font-size: 1rem;
	}

	.textsli1 h4, h5
	{
		font-size: .8rem;
	}	

}


@media screen and (max-width: 480px)
{

	.carousel-indicators li
	{
		background-color: #ffc107;		
		margin-top: initial;
		
	}

	.wh
	{
	position: fixed;
	top: 320px;
	z-index: 1000;
	left: 280px;
	
	}


		

	.slide
	{
		margin-top: 4.7rem;

	}

	 .textsli1
	 {
	 	padding-bottom: 5%;
	 }



	.textsli1 .flayer1
	{
		font-size: .8rem;
	}

	 .textsli1 .btn-select
	 {
	 	font-size: .7rem;
	 }

	.textsli1 h4, h5
	{
		display: none;
	}


}	


@media screen and (max-width: 360px)
{

	

	.carousel-indicators li
	{

		background-color: #ffc107;		
		margin-top: initial;
		
	}

	.wh
	{
	position: fixed;
	top: 320px;
	z-index: 1000;
	
	}


		

	.slide
	{
		margin-top: 4.7rem;

	}


	 .textsli1
	 {
	 	padding-bottom: 1%;
	 }



	.textsli1 .flayer1
	{
		font-size: .6rem;
	}	 
	

}

/***************Aplicación de Media querys end****************/

